<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Argus uses the camera to identify buildings around you</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Argus needs your location to identify nearby buildings</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Argus uses background location to track buildings as you walk</string>
	<key>API_URL</key>
	<string>https://7c46jp99ta.execute-api.us-east-1.amazonaws.com/prod</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
</dict>
</plist>
